<!DOCTYPE html>
<html>
<head>
<title>Shubham Upadhyay @Software Developer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <h1>Message sent successfully !</h1>
        <h3>We will get in touch with you shortly, have eye on your provided 
        
        mail && phone, </h3>
        
        <h2><b>Thank You !</b></h2>
        <h4><a th:href="/@{/index}">Click back to explore more </a></h4>
    </div>
    </body>
    </html>